<h3>
  <%= @title = t '.title', title:@report.title %>
  <% if current_user && current_user.is_admin? %>
      <%= render 'shared/button', title: :edit, href: edit_questionnaire_report_path(@report), sm: true %>
  <% end %>
</h3>
<hr/>
<p>
  <%= raw to_html(@report.summary)%>
</p>