<% id = "tab-v-#{id}-tabs" %>
<ul id="<%= id %>" class="nav nav-pills nav-stacked">
  <% links.each do |l| %>
      <li class="nav-item">
        <%= link_to t(l.fetch(:title)), l.fetch(:href), class: 'nav-link' %>
      </li>
  <% end %>
</ul>
