<p>
  <script type="text/plain" name="<%= id %>" id="<%= id %>-container">
    <%= raw content %>
  </script>

  <script type="text/javascript">
    UE.getEditor('<%= id %>-container');
  </script>
</p>